<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-primary-subtle sidebar pt-3">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/homeEmpleado">
                            <i class="bi bi-house-door-fill"></i> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/creacion">
                            <i class="bi bi-wallet2"></i> Creación de producto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/solicitudes">
                            <i class="bi bi-check-circle"></i> Lista de Solicitudes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/entrega">
                            <i class="bi bi-box-seam"></i> Solicitud de entrega
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">
                            <i class="bi bi-credit-card-2-front"></i> Productos
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">Tablero de control</span>

                </div>
            </nav>
            <div class="row mt-3">
                <!-- Earnings Cards -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Solicitudes(Mensual)</h5>
                            <p class="card-text">$40,000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Solicitudes (Anuales)</h5>
                            <p class="card-text">$215,000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aceptadas</h5>
                            <p class="card-text">50%</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Solicitudes Pendientes</h5>
                            <p class="card-text">18</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Charts Section -->
            <div class="row mt-3">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Resumen de Solicitudes</h5>
                            <canvas id="earningsChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Estado de solicitud</h5>
                            <canvas id="revenueChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>