<div>
    <a href="/productos" class="back-arrow">
        <i class="bi bi-arrow-bar-left"></i> Volver
    </a>
  </div>
<div class="text-center hero-section">
    <div class="row">
      <div class="col-md-6">
        <h2 class="m-2">Tarjetas de crédito BBVA</h2>
        <h3 class="m-2">Realiza compras, pagos y transacciones en establecimientos o por internet seguramente.</h3>
      </div>
      <div class="col-md-6">
        <img src="images/publicidad.png" alt="publicidad" style="width: 80%;">
      </div>
    </div>
  </div>
  
  <section class="container-fluid cards-section">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center">
        <!-- Tarjeta 1 -->
        <div class="col">
          <div class="card h-100">
            <img src="images/aqua.png" class="card-img-top" alt="Tarjeta Aqua" style="width: 100%;">
            <div class="card-body">
                <h2>Tarjeta de Crédito Visa Aqua</h2>
              <ul>
                <li>Solicitud de tu Tarjeta 100% Digital.</li>
                <li>Acumulas el doble de puntos en compras por internet.</li>
                <li>0$ de cuota de manejo.</li>
                <li>Tasa imperdible para compra de cartera.</li>
                <li>Cambia el plazo de tus cuotas de 1 a 36 meses.</li>
                <li>Disponibilidad de avances a partir de los 3 meses de uso de tu tarjeta. Sujeto a categoría de producto.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Tarjeta 2 -->
        <div class="col">
          <div class="card h-100">
            <img src="images/coral.png" class="card-img-top" alt="Tarjeta Coral" style="width: 100%;">
            <div class="card-body">
                <h2>Tarjeta de crédito Mastercard Coral</h2>
              <ul>
                <li>BBVA aporta el 0,66% de tu facturación mensual para la restauración de corales.</li>
                <li>$0 cuota de manejo por seis meses.</li>
                <li>Tarjeta hecha con material reciclado del mar.</li>
                <li>Paga tu tarjeta por nuestros canales.</li>
                <li>Haz el pago total o parcial de compras puntuales sin recargos.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Tarjeta 3 -->
        <div class="col">
          <div class="card h-100">
            <img src="images/black.png" class="card-img-top" alt="Tarjeta Black" style="width: 100%;">
            <div class="card-body">
                <h2>Tarjeta de Crédito Mastercard Black</h2>
              <ul>
                <li>Acumulas 3 puntos por cada dólar en compras.</li>
                <li>0$ cuota de manejo por 6 meses.</li>
                <li>Asistente personal 24 Horas.</li>
                <li>Asistencia en caso de pérdida de equipaje.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="images/Congelada.png" class="card-img-top" alt="Tarjeta Black" style="width: 100%;">
              <div class="card-body">
                  <h2>Tarjeta de Crédito Visa Congelada</h2>
                <ul>
                  <li>Acumulas puntos por cada compra que hagas</li>
                  <li>Disfrutas de una cuota de manejo reducida</li>
                  <li>Pagas siempre la misma cuota sin importar el monto de tus compras.</li>
                  <li>Dispones del 50% de cupo para avances.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="images/gold.png" class="card-img-top" alt="Tarjeta Black" style="width: 100%;">
              <div class="card-body">
                  <h2>Tarjeta de Crédito Visa Oro</h2>
                <ul>
                  <li>Acumulas 1.2 puntos por cada dólar en compras.</li>
                  <li>0$ cuota de manejo por 6 meses.</li>
                  <li>Dispones del 100% de tu cupo para avances.</li>
                  <li>Elige el día del mes para pagar tu tarjeta.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
          <div class="card h-100">
            <img src="images/plata.png" class="card-img-top" alt="Tarjeta Black" style="width: 100%;">
            <div class="card-body">
                <h2>Tarjeta de Crédito Visa Platinum</h2>
              <ul>
                <li>Acumulas 3 puntos por cada dólar en compras.</li>
                <li>0$ cuota de manejo por 6 meses.</li>
                <li>Dispones del 100% de tu cupo para avances.</li>
                <li>Haz el pago total o parcial de compras puntuales sin recargos.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>