  <!-- Sección de bienvenida -->
    <header class="hero-section">
      <h2>Bienvenido, Santiago Pérez García</h2>
      <p>Consulta tus productos adquiridos y gestiona tus finanzas fácilmente.</p>
    </header>
  
    <!-- Contenido principal -->
    <main class="px-md-4 py-4 table-section">
      <h3 class="h5 mt-4">Productos Adquiridos</h3>
      <!-- Tabla -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Primer Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Cédula</th>
            <th>Fecha de Entrega</th>
            <th>Tipo de Tarjeta</th>
            <th>Cupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Santiago</td>
            <td>Pérez</td>
            <td>García</td>
            <td>1234567890</td>
            <td>25/11/2024</td>
            <td>Golden</td>
            <td>$2.000.000</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Santiago</td>
            <td>Pérez</td>
            <td>García</td>
            <td>1234567890</td>
            <td>24/11/2024</td>
            <td>Aqua</td>
            <td>$1.000.000</td> 
          </tr>
        </tbody>
      </table>
    </main>