<main class="main">
  <nav class="navbar navbar-expand-lg" style="background-color: #343aeb;">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="">BBVA</a>
      <div class="d-flex">
        <a routerLink="solicitud" ><button class="btn btn-outline-light mx-1">Solicitud</button></a>
        <a routerLink=""><button class="btn btn-outline-light mx-1">Home</button></a>
        <a routerLink="add"><button class="btn btn-outline-light mx-1">Acceso</button></a>
        <button class="btn btn-outline-light mx-1">Menú</button>
      </div>
    </div>
  </nav>
</main>

<router-outlet />

<footer class="footer text-white mt-5 p-3 text-center" style="background-color: #343aeb;">
  <p>© 2024 BBVA Banco Bilbao Vizcaya Argentaria Colombia S.A</p>
  <div class="social-icons">
    <img  class="m-2" src="images/facebook.png" alt="face" style="width: 2%;">
    <img class="m-2" src="images/instagram.png" alt="face" style="width: 2%;">
    <img class="m-2" src="images/gorjeo.png" alt="face" style="width: 2%;">
  </div>
</footer>
