body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; /* Color de fondo claro */
  }
  .card {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .btn-primary {
    background-color: #343aeb;
    border: none;
  }
  .btn-primary:hover {
    background-color: #2b32cc;
  }