<main>
    <section class="container">
        <h1 class="text-center">Solicita tu credito</h1>
        <div class="m-5">
            <div class="row">
              <div class="col">
                <h2 class="text-center">¡Bienvenido al Banco BBVA!</h2>
               <p class="text-center">
                Tu confianza merece las mejores soluciones financieras, y por eso te ofrecemos la oportunidad de obtener tu tarjeta de crédito de manera rápida y sencilla.
               </p>
              </div>
              <div class="col d-flex justify-content-center align-items-center" style="height: 200px;">
                <img src="images/imagenbbva.png" alt="bbva" class="img-fluid" style="width: 60%;">
            </div>            
            </div>
          </div>
    </section>
    <section class="container">
        <div class="m-5">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center" style="height: 200px;">
                    <img src="images/tarjeta.png" alt="bbva" class="img-fluid" style="width: 60%;">
                </div>  
              <div class="col">
                <h3 class="text-center">¿Cómo puedes solicitarla?</h3>
                <ul>
                  <li>Visítanos en nuestra página web o sucursal más cercana.</li>
                  <li>Llena el formulario de solicitud con tus datos personales.</li>
                  <li>Presenta los documentos requeridos, como identificación oficial, comprobante de domicilio y comprobante de ingresos.</li>
                 </ul>
              </div>
                       
            </div>
          </div>
    </section>
    <hr>
    <section class="container my-4">
        <h2 class="text-center m-2">Tarjetas de crédito</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center">
            <div class="col">
                <div class="card h-100">
                    <img src="images/aqua.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul>
                            <li>Solicitud de tu Tarjeta 100% Digital.</li>
                            <li>Acumulas el doble de puntos en compras por internet.</li>
                            <li>0$ de cuota de manejo.</li>
                            <li>Tasa imperdible para compra de cartera.</li>
                            <li>Cambia el plazo de tus cuotas de 1 a 36 meses.</li>
                            <li>Disponibilidad de avances a partir de los 3 meses de uso de tu tarjeta. Sujeto a categoría de producto.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/coral.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul>
                            <li>BBVA aporta el 0,66% de tu facturación mensual para la restauración de corales.</li>
                            <li>$0 cuota de manejo por seis meses.</li>
                            <li>Tarjeta hecha con material reciclado del mar.</li>
                            <li>Paga tu tarjeta por nuestros canales.</li>
                            <li>Haz el pago total o parcial de compras puntuales sin recargos.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/black.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul>
                            <li>Acumulas 3 puntos por cada dólar en compras.</li>
                            <li>0$ cuota de manejo por 6 meses.</li>
                            <li>Asistente personal 24 Horas.</li>
                            <li>Asistencia en caso de pérdida de equipaje.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="container my-4">
        <h2 class="text-center m-2">¿Por qué elegirnos?</h2>
        <div>
            <p>
            Límites de crédito ajustados a tus necesidades.
            Beneficios exclusivos, como descuentos en compras, acumulación de puntos y seguros gratuitos.
            Atención personalizada para resolver cualquier duda.
            Empieza a disfrutar de los beneficios que mereces con BBVA. ¡Solicita tu tarjeta de crédito hoy mismo!
            </p>
        </div>
        <h3>Conéctate con nosotros</h3>
        <div class="m-2">
            <div>
                <i class="bi bi-telephone-fill"></i> 
                <span>Línea de atención: 32654481541</span>
            </div>
            <div>
                <i class="bi bi-building"></i> 
                <span>Visítanos en cualquiera de nuestras sucursales.</span>
            </div>
        </div>       
    </section>


</main>